:root {
    --primary-color: #15192a;
    --secondary-color: #1f263c;

    --text-color: #ffffff;
    --secondary-text-color: #d9d9d9;
    --text-color-heading: #c4eeff;
    --extra-text-color: #27c2ff;

    --chart-color-1: #BFF5FF;
    --chart-color-2: #00a7e1;
    --chart-color-3: #80EBFF;
    --chart-color-4: #00859D;
}


h1 {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    color: var(--text-color-heading);
}

h2 {
    font-size: 12px;
    letter-spacing: 2px;
}


h3 {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 17px;
    width: 80%;
    text-align: start;
    margin: 30px 0px 30px 30px;
    color: var(--secondary-text-color);
}

#main_container_second_row_right_top_title {
    margin-bottom: unset;
}