@import 'constants.css';

body {
    background-color: var(--primary-color);
    text-align: center;
}

.main_container {
    margin: auto;
    max-width: 1230px;
}

/* TOP ROW CODE, includes title, stats and logo */

.main_container_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color);
    margin-top: 50px;
}

.main_container_heading_left_text { 
    margin-bottom: 33px;
}

#first_title {
    font-size: 0px;
    font-weight: 700;
    text-align: start;
    width: 100%;
}

.main_container_heading_left_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_container_heading_left_stats_item {
    min-width: 152px;
    padding: 30px 15px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.main_container_heading_left_stats_item h2 {
    color: var(--secondary-text-color);
    margin: unset;
    padding-bottom: 5px;
}

.main_container_heading_left_stats_item p {
    font-size: 20px;
    font-weight: 500;
    color: var(--extra-text-color);
    margin: unset;
}


.main_container_heading_right img{
    width: 190px;
    margin-right: 20px;
}

/* END OF TOP CODE */


/*SECOND ROW CODE, includes map, bar chart and pie chart */


.main_container_second_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}

.main_container_second_row_left {
    width: 860px;
    height: 550px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.main_container_second_row_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_container_second_row_right_top,
.main_container_second_row_right_bottom {
    width: 350px;
    height: 265px;
    border-radius: 10px;
    background-color: var(--secondary-color);
 }

.main_container_second_row_left_map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.main_container_second_row_left_map button {
    margin: 20px 0px 0px 0px;
}

/* END OF SECOND ROW CODE */


/* THIRD ROW CODE, includes pie chart, line chart and bubble chart */


.main_container_third_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}

.main_container_third_row_right,
.main_container_third_row_middle,
.main_container_third_row_left {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.main_container_third_row_middle {
    width: 490px;
}


/* END OF THIRD ROW CODE */

/* FOURTH ROW CODE, includes stacked bar chart and radar plot */

.main_container_fourth_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.main_container_fourth_row_left {
    width: 860px;
    height: 422px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    overflow-y: hidden;
 
}

.main_container_fourth_row_left_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_container_fourth_row_right {
    width: 350px;
    height: 422px;
    border-radius: 10px;
    background-color: var(--secondary-color);
 
}


/* END OF FOURTH ROW CODE */

/* FIFTH ROW CODE, includes scatter plot and TBD */

.main_container_fifth_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

.main_container_fifth_row_left,
.main_container_fifth_row_middle,
.main_container_fifth_row_right {
    width: 420px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.main_container_fifth_row_right {
    width: 350px;
}

/* Stacked Bar Chart styling */



/* End of Fourth row */
 
/* Utils */

.tooltip {
    fill: #333333;
}
#countrySelector { /* Location or the selector */
    width: 60%; 
    margin: 0 auto 20px auto;
}
.section-1 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #293241;
}

.sub-section-right {
    height: 98vh;
}

.visualization-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;

  }
  
  .visualization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 50%;
  }

  #radar-chart-viz {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  

/* #bubble-chart-viz {
    margin: 0;
    padding: 0;
    align-self: flex-start; /* Aligns the container to the start of the cross axis if it's a flex item */


#chart-area {
    display: flex; /* Establishes a flex container */
    flex-direction: row; /* Align children horizontally */
    justify-content: space-around; /* Even spacing around the children */
    align-items: flex-start; /* Align children to the start of the cross axis */
  }

  .bubble-svg {
    margin: 0;
    display: block; /* Removes any inline formatting that might add space */
}

.circle-click {
    stroke: white;
}

.map {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.map-title {
    font-size: 1.5em;
    color: #98C1D9;
}

#map-viz {
    height: 100%;
    /* padding: 1em; */
    position: relative;
    border-right: 1px solid black;
}

.map-bottom {
    color: #98C1D9;
    bottom: 1em;
    font-size: 1.2em;
    text-align: center;
}

/* #line-viz {
    border-left: 1px solid black;
} */

.line-svg {
    padding: 1em 2em;
}

.section-2 {
    height: 100vh;
    padding: 2em;
    background-color: #3D5A80;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}

.title {
    font-size: 1.5em;
}

.right-section {
    width: 43%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vaccination-rate {
    margin: 3em;
}

.section-3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    z-index: 10;
    pointer-events: none;
    font-size: 12px;
    opacity: 1;
    /* Set initial opacity to 1 for debugging */
    display: block;
    /* Set initial display to block for debugging */
}

.axis-label {
    font-size: 14px;
    text-anchor: middle;
}

/* Style for axis labels */
.axis-label {
    fill: #000;
    font-size: 12px;
    font-weight: bold;
}




/* .bubble-svg {
    margin-right: 20px; /* Adjust the spacing between the bubble chart and histogram */
/* } */



/* Center the SVG container */
#choropleth-map svg {
    display: block;
    margin: auto;
}

/* Adjust the legend positioning */
#legend {
    font-size: 0.8em;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.map-tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    white-space: nowrap; /* Remove this if you have it, to allow for text wrapping */
    padding: 4px;
    background: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

#map-legend {
    background: white;
    padding: 8px;
    width: 100px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    z-index: 10;
}

#map-legend div {
    margin-bottom: 2px; 
}

#choropleth-map {
    position: relative;
    margin: auto;
    top: 50px; /* Adjust to center the map in the page */
    width: 960px; /* Your map width */
    height: 600px; /* Your map height */
}

#reset-zoom,
#zoomOutButton {
    padding: 15px;
    padding-top: 0; 
    padding-bottom: 0;
    z-index: 10; 
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-size: 1em;
    border-radius: 10px;
    margin-right: 20px;
}

#reset-zoom:hover,
#zoomOutButton:hover {
    background-color: var(--chart-color-2);
    border: 2px solid var(--chart-color-2);
    cursor: pointer;
    transition: 0.2s;
} 

#reset-zoom:active,
#zoomOutButton:active {
    background-color: #0a8ab5;
    border: 2px solid #0a8ab5;
    transition: 0.1s;
}

.legend-container {
    width: 320px;
}

.donutlegend {
    border-radius: 20px;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}


/* Stacked bar chart styling */

#stackedchart {
    max-width: 1000px;
    overflow-x: scroll;
}

#details-panel {
    border: 1px solid #cccccc00;
    border-radius: 10px;
    padding: 10px;
    height: 55px;
    width: 200px;
    font-size: 12px;
    text-align: start;
    color: var(--text-color);
    background-color: var(--chart-color-2);
    box-shadow:  0 0 10px #ffffff8e;
    margin: 30px;
    margin-bottom: 4px;
}

/* SCROLL BAR STYLING */

::-webkit-scrollbar {
    width: 10px; 
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }

  .pietooltip {
    background: #ff0000;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
  }


  /* Define animation */
  @keyframes count {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animated {
    animation: count 2s ease-in-out;
}


/* Center the SVG container */
#choropleth-map svg {
    display: block;
    margin: auto;
    position: relative;
}



#map-legend {
    bottom: -118px;
    left: 111px;
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    width: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 100;
}

#map-legend div {
    margin-bottom: 2px; 
}




/* Scatter plot styling */

.main_container_third_row_middle_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}

#zoomOutButton {
    margin-top: 13px;
    width: 120px;
    height: 40px;
}