body {
    background-color: lightblue;
}

.section-1 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #293241;
}

.sub-section-right {
    height: 98vh;
}

.visualization-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

  }
  
  .visualization-container {

    /* Optional: if you want a fixed size or a margin around them, adjust these */
    width: calc(33.333% - 10px);
  }
  
  /* Ensure your visualizations fit inside the containers */
  #bubble-chart-viz, #radar-chart-viz {
    width: 50px;
    height: auto; /* Adjust height as necessary, or set a fixed height */
  }

/* #bubble-chart-viz {
    margin: 0;
    padding: 0;
    align-self: flex-start; /* Aligns the container to the start of the cross axis if it's a flex item */


#chart-area {
    display: flex; /* Establishes a flex container */
    flex-direction: row; /* Align children horizontally */
    justify-content: space-around; /* Even spacing around the children */
    align-items: flex-start; /* Align children to the start of the cross axis */
  }

  .bubble-svg {
    margin: 0;
    display: block; /* Removes any inline formatting that might add space */
}

.circle-click {
    stroke: white;
}
#pieChart {
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 1200px;
  }
.map {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.map-title {
    font-size: 1.5em;
    color: #98C1D9;
}

#map-viz {
    height: 100%;
    /* padding: 1em; */
    position: relative;
    border-right: 1px solid black;
}

.map-bottom {
    color: #98C1D9;
    bottom: 1em;
    font-size: 1.2em;
    text-align: center;
}

/* #line-viz {
    border-left: 1px solid black;
} */

.line-svg {
    padding: 1em 2em;
}

.section-2 {
    height: 100vh;
    padding: 2em;
    background-color: #3D5A80;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}

.title {
    font-size: 1.5em;
}

.right-section {
    width: 43%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vaccination-rate {
    margin: 3em;
}

.section-3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-title {
    margin: 2em 0 0 0;
    width: 100%;
    text-align: center;
    font-size: 2em;

}

/* legend */
.legend {
    font-size: 14px;
  }
  rect {
    cursor: pointer; 
    stroke-width: 2;
  }
  rect.disabled {
    fill: transparent !important;
  }
  
  /* chart */
  #chart {
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 800px; 
  }
  
  /* tooltip */
  .pietooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
  }


/* .bubble-svg {
    margin-right: 20px; /* Adjust the spacing between the bubble chart and histogram */
/* } */

